*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.title{
  color: #848282;
  padding: 20px;
}

.content-box{
  width: 840px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

.content-item{
  padding: 30px;
  border-bottom: 1px solid #848282;
}

.content-text{
  color: #848282;
  padding-top: 10px;
}

.link{
  color: #848282;
}